<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <th:block th:each="user : ${users}">
        <a th:href="@{/users/{id}(id=${user.getId()})}"
           th:text="${user.getId()}+', '+${user.getName()}+', ' +${user.getLastName()}+ ', '+${user.getAge()}+ ' , '+${user.getProfession()}"></a>
        <br/>
    </th:block>
</div>
<br/>
<hr/>
<a href="/users/add">Create new person</a>
</body>
</html>